Project 1 requirements:
http://www.cs.utexas.edu/~cannata/dbms/Projects/Project%201/Project%201%20Requirements.html

	announced in lecture -> Prof will require that we specify which Business Rule we implemented instead of naming possible Business Rules

Reference TopHat chapter 3 walkthrough steps and repeat them for each entity in the provided relational model.




Project Due Date: 
Friday, February 23 at 22:00 hrs.
